{% extends "base.html" %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% block title %}New Questions - AskPupkin{% endblock %}

{% block content %}
    <div class="d-flex gap-3 align-items-center">
        <h1>New Questions</h1>
        <a href="{% url 'app:hot' %}">Hot Questions</a>
    </div>

    <!-- List of questions -->
    {% for question in questions %}
        {% include "partials/question.html" with question=question %}
    {% endfor %}

    <!-- Pagination -->
    {% include "partials/pagination.html" with page=page %}
{% endblock %}
