{% extends "base.html" %}

{% load django_bootstrap5 %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% block title %}AskPupkin - Login{% endblock %}

{% block content %}
<h1>Вход</h1>
<form method="post" action="?continue={{ continue }}">
    {% csrf_token %}

    <!-- Поле логина -->
    <div class="mb-3">
        {% bootstrap_field form.username %}
    </div>

    <!-- Поле пароля -->
     {% with form=form %}
     {% include "partials/password_field.html" with label="Пароль" %}
     {% endwith %}

    <!-- Кнопка отправки -->
    <button type="submit" class="btn btn-primary">Войти</button>
    
    <!-- Ссылка на создание аккаунта -->
    <div class="mt-2">
        <a href="{% url 'app:signup' %}">Создать новый аккаунт</a>
    </div>
</form>
{% endblock %}