{% extends "base.html" %}

{% load static %}

{% block title %}AskPupkin Registration{% endblock %}

{% block content %}
<h1>Регистрация</h1>
<form>
    <div class="mb-3">
        <label for="login" class="form-label">Логин</label>
        <input type="text" class="form-control" id="login" placeholder="Введите логин">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Введите email">
        <div class="form-text text-danger"></div>
    </div>
    <div class="mb-3">
        <label for="nickname" class="form-label">Никнейм</label>
        <input type="text" class="form-control" id="nickname" placeholder="Введите никнейм">
        <div class="form-text text-danger"></div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="password" placeholder="Введите пароль">
    </div>
    <div class="mb-3">
        <label for="repeat-password" class="form-label">Повторите пароль</label>
        <input type="password" class="form-control" id="repeat-password" placeholder="Повторите пароль">
    </div>
    <div class="mb-3">
        <label for="avatar" class="form-label">Загрузить аватар</label>
        <input type="file" class="form-control" id="avatar">
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
{% endblock %}