{% extends "base.html" %}

{% load static %}

{% block title %}AskPupkin Registration{% endblock %}

{% block content %}
<h1>Регистрация</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Вывод ошибок формы -->
    {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="form-text text-danger">
                    {{ field.errors.0 }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
{% endblock %}